version: '3.0'

services:
  api:
    container_name: "api"
    build:
      context: .
      dockerfile: ./docker/api/Dockerfile
    volumes:
      - ./api:/app
    restart: always
    tty: true
    ports:
      - 8000:8000

  frontend:
    container_name: "frontend"
    build:
      context: .
      dockerfile: ./docker/frontend/Dockerfile
    volumes:
      - ./frontend:/frontend
      - node_modules:/frontend/node_modules
    command: sh -c "cd /frontend && yarn start"
    stdin_open: true
    tty: true
    environment:
      - CHOKIDAR_USEPOLLING=true
    ports:
      - 3000:3000

volumes:
  node_modules:
    driver_opts:
      type: none
      device: $PWD/node_modules
      o: bind
